---
import "../Layout/BasicLayout.astro";
import BasicLayout from "../Layout/BasicLayout.astro";
---
<!-- const responseData = await fetch ("url") -->
 <!-- const users = await responseData.json() -->
  <!-- console.log(users) -->
<BasicLayout title="My Page Title">
  <h1>Welcome to My Astro Page</h1>
  <!-- <p>{users.results[0].name.first} {users.results[0].name.last}</p> -->
</BasicLayout>
